@import '_common.css';

/* Override foundation defaults */
input[type="text"], form > select, textarea {
  margin: 0;
}

h1 em {
  display: block;
  font-size: .5em;
  font-style: normal;
  color: #666;
  margin-bottom: -.3em
}

#begin, #end {
  width: 10em;
  display: inline;
}

#deleteModal p {
  font-weight: bold;
}
/* don't show checkmark in delete modal confirmation */
#deleteModal i {
  display: none;
}
#deleteModal ul {
  position: static;
}

/* don't color checkbox list of days red if error triggered */
#option-days.error label {
  color: #4d4d4d;
}

#select-type {
  margin: 1.25em 0 -.75em;
}

#submit {
  margin-top: 1em;
}

.checkbox label {
  display: inline-block;
  margin-right: 1em;
  white-space: nowrap;
}

.fieldtitle {
  color: #4d4d4d;
  font-weight: 500;
  line-height: 1;
  margin: 1.25em 0 3px;
}
#option-days .fieldtitle {
  margin-bottom: 8px;
}

.note {
  color: #999;
  font-size: .9em;
  font-weight: 500;
  margin-top: .5em;
}

.ui-datepicker-calendar td {
  width: 30px;
}

p.error {
  color: #ea2e49;
  margin: 0;
}
